* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

button {
  color: #fff;
  padding: 10px;
  width: 9rem;
  font-size: 1rem;
  font-weight: 600;
  border-color: transparent;
  border-radius: 25px;
}

nav {
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}

.right-nav {
  float: right;
}

.nav .nav-logo {
  margin: 8px;
  padding: 3px;
}

nav #logo {
  padding-top: 8px;
  padding-left: 5px;
}

#nav-button {
  background-color: #c2195b;
}

#bg-image {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8)), url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 3rem 0;
  color: #fff;
}

.container {
  text-align: right;
  width: 40%;
  position: relative;
  left: 50%;
}

.title {
  font-family: "Zilla Slab";
  font-size: 2.5rem;
  font-weight: 600;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 300;
  width: 75%;
  margin-left: 9rem;
  margin-top: 4rem;
}

.apply-button {
  margin-top: 4rem;
  background-color: #c2195b;
}

.main {
  padding-top: 4rem;
  text-align: center;
}

.title-2 {
  font-family: "Zilla Slab";
  font-size: 2rem;
  font-weight: 600;
}

.description {
  margin: 4rem 0;
  font-weight: 400;
}

.book-button {
  background-color: #336589;
}

footer {
  margin-top: 4rem;
  padding: 3rem;
  text-align: center;
}
footer span {
  margin: 0 2rem;
  font-weight: 400;
}/*# sourceMappingURL=index.css.map */