* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

html,
main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to top right, #e9ebec, white);
  background-size: cover;
  background-position: center;
}
.fb-title {
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: -2px !important;
}
.fb-mean {
  font-weight: 400;
  letter-spacing: -2px !important;
}
.create-page {
  font-size: 0.9em;
}

.create-acct {
  font-size: 1.1em;
}

.btn-success {
  padding: 10px 15px !important;
  border-radius: 8px !important;
}
footer {
  height: 35vh;
}
footer ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0 0.3rem;
  font-size: 0.8em;
  color: grey;
}

footer hr {
  margin-bottom: 3px !important;
  margin-top: 1px !important;
}
