* {
  font-family: 'Verdana', sans-serif;
  font-size: 20px;
}
#external {
  color: yellow;
}
h1 {
  font-size: 3rem;
}
#sub-header {
  text-transform: uppercase;
}
h6 ~ img {
  width: 20vh;
  height: 20vh;
  border-radius: 100px;
}
.text-green {
  background-color: green;
}

.border-blue {
  border: 1px solid blue;
}

ul li {
  list-style-type: none;
  letter-spacing: 10px;
}

ul ~ p {
<<<<<<< HEAD
  text-align: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> 0c8abb40a4c98926bd1af7bf46b908168c8a8027
=======
  text-align: center
>>>>>>> 91630393984cab08cd3951a9cdc1fca01c064f4d
