* {
  font-family: 'Merriweather';
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', sans-serif;
}

nav {
  padding: 5px;
  text-align: center;
  background-color: #808080;
}

nav li {
  display: inline-block;
  list-style: none;
  margin: 0.5 rem;
  padding: 3px;
}

#landing {
  background-image: url('https://rare-gallery.com/mocahbig/394710-wallpaper-solar-system-planet-simple-minimalist.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  text-align: center;
  color: #fff;
}

#landing h1 {
  padding-top: 5rem;
  font-size: 3rem;
}

#landing h3 {
  margin: 1rem;
}

#landing button {
  padding: 0.8rem;
  background-color: #64ecec;
  border: 2px solid #64ecec;
  border-radius: 2px;
}

#hot {
  text-align: center;
}
#hot h2 {
  margin: 1rem 0;
}
#hot ul li {
  display: inline-block;
  list-style-type: none;
  border: 2px solid #eb7434;
  border-radius: 2px;
  padding: 3rem;
  margin: 0 0.5rem;
}

footer {
  text-align: center;
  margin: 3rem 0;
}
